<div id="body">
    <h2>Add Dessert</h2>
    <img class="center" id="lime" alt="KeyLimePie" src="../../assets/images/keylime.jpg">
    <input [(ngModel)]="newTask.name" type="text" placeholder="Name">
    <br />
    <input [(ngModel)]="newTask.time" type="text" placeholder="Time">
    <br />
    <input [(ngModel)]="newTask.desc" type="text" placeholder="Description">
    <br />
    <input [(ngModel)]="newTask.items" type="text" placeholder="Items">
    <br />
    <button (click)="addTask()">ADD</button>
    <p>BVA TECHNOLOGIES INC. COPYRIGHT 2021</p>
</div>