a {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
    padding: 10px;
}

#nav {
    background-color: rgb(215, 235, 31);
    border: solid 3px rgb(215, 235, 31);
    font-size: 20px;
}