<div id="body">
    <h2>Edit Dessert</h2>
    <img class="center" id="lemon" alt="LemonPie" src="../../assets/images/lemonpie.jpg">
    <input [(ngModel)]="editTask.name" type="text" placeholder="Name">
    <br />
    <input [(ngModel)]="editTask.time" type="text" placeholder="Time">
    <br />
    <input [(ngModel)]="editTask.desc" type="text" placeholder="Description">
    <br />
    <input [(ngModel)]="editTask.items" type="text" placeholder="Items">
    <br />
    <button (click)="saveTask()">SAVE</button>
    <p>BVA TECHNOLOGIES INC. COPYRIGHT 2021</p>
</div>